@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
.container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    color: #333;
    font-size: 50px;
    position: relative;
    // overflow: hidden;
    &#home {
      // position: relative;
      background-color: #000000;
      // background-image: url(https://gta4-mods.com/images/24472/1382245266_12678655089417325265421650272719o.jpg);
      // background-repeat: no-repeat;
      // background-position: 10% 50%;
      // background-attachment: fixed;
      overflow: hidden;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to top,
          rgba(216, 137, 209, 0.171),
          transparent
        );
        mix-blend-mode: color;
        position: absolute;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 99vh;
        // width: 100%;
        &#bg {
          height: 100%;
          width: 100%;
          filter: grayscale(50%);
        }

        &#moon {
          width: 10rem;
          top: 3rem;
          left: 2rem;
          height: auto;
          filter: grayscale(100%);
        }
        &#cloud1 {
          width: 25rem;
          top: 6rem;
          left: 1rem;
          height: auto;
        }
        &#cloud2 {
          width: 25rem;
          top: 2rem;
          left: 70%;
          height: auto;
        }
        &#spiderman {
          width: 0;
          top: 0rem;
          left: 0rem;
          height: auto;
        }
      }
    }

    &#works {
      background-color: #000000;
    }

    &#contact {
      background-color: #000000;
    }
  }
}
@keyframes listAnimation {
  0% {
    transform: translate(50%, 10rem);
  }
  25% {
    transform: translate(50%, 20rem);
  }
  50% {
    transform: translate(50%, 30rem);
  }
  100% {
    transform: translate(50%, -30rem);
  }
}
